body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}



#my-profile {
    text-align: center;
}

p,
#contacts {
    font-size: 14px;
}

.header {
    height: 50px;
    background-color: rgb(170, 205, 245)
}

.foto-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-top: 10px;
}

.name-profile {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}

.user-name {
    font-size: 24px;
    text-align: center;
}
