body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;
}

h4 {
    text-decoration: underline;
}

#my-profile {
    text-align: center;
}

p,
ul {
    font-size: 14px;
}

.header {
    height: 50px;
    background-color: #aacdf5
}

.foto-avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding-top: 10px;
}

.name-profile {
    font-size: 18px;
    font-weight: 200;
    text-align: center;
}

.user-name {
    font-size: 24px;
    text-align: center;
}

li {
    list-style-type: circle;
}

.footer {
    text-align: center;
    height: 35px;
    background: #aacdf5;
    font-size: 12px;
    align-items: center;
    color: rgb(95, 124, 102);
}

.container {
    padding: 20px;
}

p {
    text-indent: 25px;
}
